<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="embed-responsive embed-responsive-4by3">
                <div id="player"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="divUrlList">
                <div class="row scrollList">
                    <div class="element">
                        <ul class="list-group" id="urlListUL">
                            @foreach (var item in Json.Decode(Model.jSonList))
                            {
                                <li id="@item.UrlPart" class="list-group-item urlli@(item.UrlPart != Model.UrlCurrent ? "" : " active")" data-relevance="0">
                                    @item.Title
                                    <div class="pull-right">
                                        <div class="glyphicon glyphicon-remove deleteUrl urldiv redActive@(item.UrlPart != Model.UrlCurrent ? " hidden " : "")" data-toggle="modal" data-target="#myModal"></div>
                                        <div class="glyphicon glyphicon-refresh urldiv repeatUrl@(item.UrlPart != Model.UrlCurrent ? " hidden" : "")@(Model.isRepeat == true ? " cloroedRep" : "")"></div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">
            <div>
                <div class="urlinputdiv">
                    <input class="form-control urlinput" type="text" id="url" />
                </div>
                <input class="btn btn-default mainbtn" type="button" id="addurl" value="Add url" />
                <input class="btn btn-default mainbtn" type="button" id="nexturl" value="Next url" />
                <input class="btn btn-default mainbtn @(Model.isShuffle ? "isShuff" : "")" type="button" id="shuffleurl" value="Shuffle" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="right-inner-addon ">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control fuzzyinput" placeholder="Search" id="fuzzysearch" />
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mainbtn" data-dismiss="modal">Cancle</button>
                    <button type="button" class="btn btn-default mainbtn" data-dismiss="modal" id="deletecurrenturl">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        /** Init Vars from Model here ( Only from page load).  **/
        var syncViewData = {
            GlobalRowV: "@Model.RowVersion",
            CurrentUrl: "@Model.UrlCurrent",
            CurrentTime: "@Model.CurrentTime",
            IsRepeat: $.parseJSON(@Model.isRepeat.ToString().ToLower()),
            IsShuffle: $.parseJSON(@Model.isShuffle.ToString().ToLower()),
            JsonUrlList: $.parseJSON(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.jSonList))))
        };
    </script>
    @Scripts.Render("~/bundles/SyncController")
}
