@model WebApplication1.Models.HomeViewModel
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<body>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="diviFramePart">
                @Html.Partial("IFramePartial")

            </div> 
            <div class="col-md-4">
                <div id="divUrlList">
                    @Html.Partial("UrlListPartial")
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <input class="form-control" type="text" name="ADD URL" id="URL" value="ADD URL">
                <button type="submit"  id="submitUrl" class="btn btn-default">Add Url</button>
                <button type="submit" id="nextUrl" class="btn btn-default">Next</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            Derp Derp Derp Derp
                        </h2>
                        <h3 class="post-subtitle">
                            some bullshit "small text that is included in ehader"
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">MEtadate as fuck</a>lol</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <hr>
</body>

<script type="text/javascript">
    $('#submitUrl').on('click', AddUrlAjax);
    var postData;
    /****************** ADDING URL **********************************/
    function AddUrlAjax() {
        var postData =
        {
            Url: $('#URL').val()
        };
        return $.ajax({
            type: "POST",
            url: "@Url.Action("AddUrl", "Home")",
            data: postData,
            dataType: "html",
            success:
                function (result) {
                    $('#divUrlList').html(result);
                }
        });
    }

    /************************** SYNCING ****************************/
    var ajaxRequest;

    function Sync() {
        return $.ajax({
            type: "POST",
            url: "@Url.Action("Sync", "Home")",
            dataType: "html",
            success:
                function (result) {
                    $('#diviFramePart').html(result);
                }
        });
    }

    function Poll() {
        return ajaxRequest = $.ajax({
            type: "POST",
            url: "@Url.Action("Syn", "Home")",
            data: GLobalPostData,
        dataType: "json"
    });
    }

    function HandleAjaxResponse() {
        setTimeout(function () {
            $.when(Poll()).done(function (response) {
                if (response.syn === true) {
                    HandleAjaxResponse();
                }
                else if (response.syn === false) {
                    Sync();
                }
            });
        }, 500);
    }

    /*********************** Load JewTube APi ********************************/
    if (typeof youtube_api_init == 'undefined') {
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var youtube_api_init = 1;
    }
</script>
